<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Students</title>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>
    <div class="container">
        <div th:if="${not #lists.isEmpty(students)}">
            <h2>Student list</h2>
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Coruse</th>
                </tr>
                <tr th:each="student: ${students}">
                    <td th:text="${student.id}"></td>
                    <td th:text="${student.name}"> </td>
                    <td th:text="${student.course}"></td>
                    <td><a th:href="@{student(id=${student.id})}">More...</a></td>
                    <td><a th:href="@{deletestudent(id=${student.id})}">Delete</a></td>
                </tr>
            </table>
        </div>
        <div>
            <a href="greeting">Back</a>
        </div>
    </div>
</body>
</html>